<div class="d-flex bg-twitter-light-gray">
  <div class="w-75  border-right">
    <%= render 'buzz_nav' %>
    <div id="list-and-buzz" class="p-3">
      <div class="card px-2">
        <%= render 'buzz_form' %>
      </div>
      <br>

      <ul class="buzzs bg-white m-0 p-0">
        <%= render @timeline_buzzs %>
      </ul>
    </div>
  </div>
  <div class="w-25 ml-1">
    <div class="d-flex border-bottom p-2 mb-3">
      <span class="h6 text-secondary">WHO TO FOLLOW</span>
    </div>

    <div class="who-to-follow d-flex px-2 mb-3">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe" class="rounded-circle" width="75" height="75" >
      <div class="pl-2">
        <span class="text-secondary"><strong>John Doe</strong></span>
        <p><span class="text-secondary">Followed by</span> <span class="text-primary">Mary Moe</span></p>
      </div>
    </div>

    <div class="who-to-follow d-flex px-2 mb-3">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe" class="rounded-circle" width="75" height="75" >
      <div class="pl-2">
        <span class="text-secondary"><strong>John Doe</strong></span>
        <p><span class="text-secondary">Followed by</span> <span class="text-primary">Mary Moe</span></p>
      </div>
    </div>

    <div class="who-to-follow d-flex px-2 mb-3">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John Doe" class="rounded-circle" width="75" height="75" >
      <div class="pl-2">
        <span class="text-secondary"><strong>John Doe</strong></span>
        <p><span class="text-secondary">Followed by</span> <span class="text-primary">Mary Moe</span></p>
      </div>
    </div>

  </div>
</div>