<div class="d-flex bg-twitter-light-gray">
  <div class="w-75  border-right">
    <%= render 'buzzs/buzz_nav' %>
    <div class="p-3">
        <%= render 'form' %>
    </div>
  </div>
  <div class="w-25 ml-1">
    <%= render 'user_profile' %>
  </div>
</div>
