<div class="user-account border p-2">
    <p class="h4 text-center m-3">Sign up to connect and <b>buzz</b> to the world!</p>
    <%= render 'form' %>
    <p class="mt-1 ml-auto text-right"><%= link_to 'Sign In', new_session_path, class: "text-decoration-none ml-auto" %></p>
</div>
